%h2
  = link_to l(:label_project_milestone_plural), :action => :index, :project_id => @project
  &#187;
  =l(:label_project_milestone_new)

- form = labelled_form_for @project_milestone do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_create)
= form if Rails::VERSION::MAJOR >= 3
